<a href="https://colab.research.google.com/github/manishaachary13/Alma_study/blob/main/advanced_data_wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import all necessary modules here
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path='/content/drive/MyDrive/Colab Notebooks/imdb_data.csv'
# read csv file and store in a dataframe
imdb_df=pd.read_csv(path)

In [ ]:
# convert title into uppercase
def to_uppercase(column):
    return column.upper()
# apply metyhod call a function which does the actual operation.
imdb_df['capitalized_title']=imdb_df['title'].apply(to_uppercase)
# print the column
imdb_df['capitalized_title']

0                         HOT TUB TIME MACHINE 2
1       THE PRINCESS DIARIES 2: ROYAL ENGAGEMENT
2                                       WHIPLASH
3                                        KAHAANI
4                                     MARINE BOY
                          ...
2995                                     CHASERS
2996                            WE ARE THE BEST!
2997                     THE LONG KISS GOODNIGHT
2998                            ALONG CAME POLLY
2999                                   ABDUCTION
Name: capitalized_title, Length: 3000, dtype: object

In [ ]:
# use lambda function to calculate profit out of revenue and budget
# this function will return profit for each row data
def revised_profit(revenue,budget):
    if revenue > 0:
        return revenue - budget
    else:
        return np.nan
#here apply function call lambda function which call revised_profit function to return profit for each data
imdb_df['new_profit']=imdb_df.apply(lambda x: revised_profit(x['revenue'],x['budget']),axis=1)
# printing new profit
imdb_df['new_profit']

0        -1685349
1        55149435
2         9792000
3        14800000
4         3923970
          ...
2995      1596687
2996       180590
2997     24456761
2998    129963386
2999     47087155
Name: new_profit, Length: 3000, dtype: int64

We can merge dataframes using the following methods

* <code> pd.concat( [df] , axis) </code>

* <code> pd.merge( df1, df2 ,on,how,suffixes) </code>

In [ ]:
# let's create 3 datasets to implement these methods
# divide runtime into 3 categories according to some range condition
imdb1=imdb_df[imdb_df['runtime']>150]
imdb2=imdb_df[(imdb_df['runtime'] < 150) & (imdb_df['runtime']>100)]
imdb3=imdb_df[imdb_df['runtime']<100]

In [ ]:
# concatenate these 3 datasets
concate_data=pd.concat([imdb1,imdb2,imdb3])
# .shape will print how many rows and columns the dataframe have
concate_data.shape

(2891, 25)

In [ ]:
# create a dataframe which consist of only english language
english=imdb_df[imdb_df['original_language'] == 'en']
# create another language whose runtime is more than 100
long_movies=imdb_df.loc[imdb_df['runtime']>100, ['imdb_id','original_language']]
# compare shape of both dataframe
english.shape, long_movies.shape

((2575, 25), (1721, 2))

In [ ]:
# merging two dataframes using inner join
inner_merge=pd.merge(english, long_movies, how='inner',left_on='imdb_id',right_on='imdb_id')
inner_merge

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language_x,original_title,overview,popularity,...,status,tagline,title,Keywords,cast,crew,revenue,capitalized_title,new_profit,original_language_y
0,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,THE PRINCESS DIARIES 2: ROYAL ENGAGEMENT,55149435,en
1,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,WHIPLASH,9792000,en
2,11,"[{'id': 1575, 'name': 'Rocky Collection', 'pos...",1000000,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0075148,en,Rocky,"When world heavyweight boxing champion, Apollo...",14.774066,...,Released,His whole life was a million-to-one shot.,Rocky,"[{'id': 240, 'name': 'underdog'}, {'id': 276, ...","[{'cast_id': 16, 'character': 'Rocky Balboa', ...","[{'credit_id': '579948e9c3a36874e9007b0b', 'de...",117235147,ROCKY,116235147,en
3,13,NaN,15000000,"[{'id': 18, 'name': 'Drama'}]",http://www.dreamworks.com/ab/,tt0169547,en,American Beauty,"Lester Burnham, a depressed suburban father in...",20.726578,...,Released,Look closer.,American Beauty,"[{'id': 255, 'name': 'male nudity'}, {'id': 29...","[{'cast_id': 6, 'character': 'Lester Burnham',...","[{'credit_id': '52fe420ec3a36847f80007c5', 'de...",356296601,AMERICAN BEAUTY,341296601,en
4,14,"[{'id': 91698, 'name': 'Chili Palmer Collectio...",53000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,tt0377471,en,Be Cool,"Disenchanted with the movie industry, Chili Pa...",13.314233,...,Released,Everyone is looking for the next big hit,Be Cool,"[{'id': 3605, 'name': 'baseball bat'}, {'id': ...","[{'cast_id': 4, 'character': 'Chili Palmer', '...","[{'credit_id': '52fe43cbc3a36847f807039f', 'de...",95226116,BE COOL,42226116,en
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,2994,NaN,60000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.theterminal-themovie.com/,tt0362227,en,The Terminal,Viktor Navorski is a man without a country; hi...,14.092373,...,Released,Life is waiting.,The Terminal,"[{'id': 242, 'name': 'new york'}, {'id': 822, ...","[{'cast_id': 4, 'character': 'Viktor Navorski'...","[{'credit_id': '52fe4259c3a36847f8017699', 'de...",219417255,THE TERMINAL,159417255,en
1432,2995,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0105327,en,School Ties,When David Greene receives a football scholars...,7.438381,...,Released,Just because you’re accepted doesn’t mean you ...,School Ties,"[{'id': 6075, 'name': 'sport'}, {'id': 10144, ...","[{'cast_id': 2, 'character': 'David Greene', '...","[{'credit_id': '5637777ac3a3681b4d01f9f5', 'de...",14715067,SCHOOL TIES,14715067,en
1433,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,CHASERS,1596687,en
1434,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,THE LONG KISS GOODNIGHT,24456761,en
1435,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,ABDUCTION,47087155,en

In [ ]:
# left join two dataframe
left_merge=pd.merge(english, long_movies, how="left",left_on='imdb_id',right_on='imdb_id')
left_merge

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language_x,original_title,overview,popularity,...,status,tagline,title,Keywords,cast,crew,revenue,capitalized_title,new_profit,original_language_y
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,HOT TUB TIME MACHINE 2,-1685349,NaN
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,THE PRINCESS DIARIES 2: ROYAL ENGAGEMENT,55149435,en
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,WHIPLASH,9792000,en
3,6,NaN,8000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",NaN,tt0093743,en,Pinocchio and the Emperor of the Night,"Pinocchio and his friends, a glow worm and a m...",0.743274,...,Released,NaN,Pinocchio and the Emperor of the Night,NaN,"[{'cast_id': 6, 'character': 'Pinocchio (voice...","[{'credit_id': '52fe46f49251416c9106558b', 'de...",3261638,PINOCCHIO AND THE EMPEROR OF THE NIGHT,-4738362,NaN
4,7,NaN,14000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://www.thepossessionmovie.com/,tt0431021,en,The Possession,A young girl buys an antique box at a yard sal...,7.286477,...,Released,Fear The Demon That Doesn't Fear God,The Possession,NaN,"[{'cast_id': 23, 'character': 'Clyde', 'credit...","[{'credit_id': '52fe4981c3a368484e12ee29', 'de...",85446075,THE POSSESSION,71446075,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2570,2995,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0105327,en,School Ties,When David Greene receives a football scholars...,7.438381,...,Released,Just because you’re accepted doesn’t mean you ...,School Ties,"[{'id': 6075, 'name': 'sport'}, {'id': 10144, ...","[{'cast_id': 2, 'character': 'David Greene', '...","[{'credit_id': '5637777ac3a3681b4d01f9f5', 'de...",14715067,SCHOOL TIES,14715067,en
2571,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,CHASERS,1596687,en
2572,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,THE LONG KISS GOODNIGHT,24456761,en
2573,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386,ALONG CAME POLLY,129963386,NaN
2574,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,ABDUCTION,47087155,en

In [ ]:
right_merge=pd.merge(english, long_movies, how="right",left_on='imdb_id',right_on='imdb_id')
right_merge

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language_x,original_title,overview,popularity,...,status,tagline,title,Keywords,cast,crew,revenue,capitalized_title,new_profit,original_language_y
0,2.0,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435.0,THE PRINCESS DIARIES 2: ROYAL ENGAGEMENT,55149435.0,en
1,3.0,NaN,3300000.0,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000.0,WHIPLASH,9792000.0,en
2,NaN,NaN,NaN,NaN,NaN,tt1821480,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hi
3,NaN,NaN,NaN,NaN,NaN,tt1380152,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ko
4,11.0,"[{'id': 1575, 'name': 'Rocky Collection', 'pos...",1000000.0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0075148,en,Rocky,"When world heavyweight boxing champion, Apollo...",14.774066,...,Released,His whole life was a million-to-one shot.,Rocky,"[{'id': 240, 'name': 'underdog'}, {'id': 276, ...","[{'cast_id': 16, 'character': 'Rocky Balboa', ...","[{'credit_id': '579948e9c3a36874e9007b0b', 'de...",117235147.0,ROCKY,116235147.0,en
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716,2995.0,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0105327,en,School Ties,When David Greene receives a football scholars...,7.438381,...,Released,Just because you’re accepted doesn’t mean you ...,School Ties,"[{'id': 6075, 'name': 'sport'}, {'id': 10144, ...","[{'cast_id': 2, 'character': 'David Greene', '...","[{'credit_id': '5637777ac3a3681b4d01f9f5', 'de...",14715067.0,SCHOOL TIES,14715067.0,en
1717,2996.0,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687.0,CHASERS,1596687.0,en
1718,NaN,NaN,NaN,NaN,NaN,tt2364975,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sv
1719,2998.0,NaN,65000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761.0,THE LONG KISS GOODNIGHT,24456761.0,en
1720,3000.0,NaN,35000000.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155.0,ABDUCTION,47087155.0,en

In [ ]:
# Outer Join
merged_OJ_df = pd.merge(english[['imdb_id','runtime']],long_movies, on='imdb_id', how='outer')

In [ ]:
# Convert the "Release Date" column to datetime type if it's not already in datetime format
imdb_df['release_date'] = pd.to_datetime(imdb_df['release_date'], errors='coerce')

# Extract the release year and add it as a new column
imdb_df['release_year'] = imdb_df['release_date'].dt.year
# We can find the maximum movie runtime across different years
max_runtime_movies_by_year = imdb_df.groupby('release_year')['runtime'].max().reset_index()
max_runtime_movies_by_year.rename(columns = {'runtime' : 'max_runtime'},inplace=True)
# We can find the median movie runtime across different years
imdb_df.groupby('release_year')['runtime'].median().reset_index()
# Group the data frame by year and item and extract a number of stats from each group
imdb_df.groupby(['release_year', 'original_language'],as_index=False).agg({'runtime':"mean",'revenue': "sum",'imdb_id':"count"}).sort_values(by='release_year').rename(columns ={'runtime':'avg_runtime','revenue':'total_revenue','imdb_id':'num_movies'})

     release_year original_language  avg_runtime  total_revenue  num_movies
0            1973                en   105.750000      580286683           8
1            1973                fr   115.000000          17808           1
2            1974                en   113.200000      295501369           5
3            1975                en   110.285714      684244588           7
4            1975                it     0.000000       39598448           1
..            ...               ...          ...            ...         ...
343          2070                fr   126.000000              3           1
344          2071                en   107.750000      276722404           8
346          2072                en   115.400000      290266411           5
345          2072                de   101.000000            100           1
347          2072                fr   113.500000       36601163           2

[348 rows x 5 columns]

### Activity 1
🎥🍿 Want to analyze profits of your favorite movies?💰🤑 Use Pandas and create a new column "profit" to find out the difference between revenue and budget!📊 Then, apply a lambda function to create a "profit_margin" column that calculates the profit margin of each movie as the ratio of its profit to its revenue.😎📈 And don't forget to add a new column "is_profitable" that indicates whether each movie is profitable or not based on its profit!🤔 Finally, print the first 10 rows to see if the new columns have been added correctly.👀

In [ ]:
imdb_df.columns
imdb_df['profit']=imdb_df['revenue'] - imdb_df['budget']
imdb_df['profit_margin'] = imdb_df.apply(lambda row: (row['revenue']/row['budget'])*100 if row['budget']!=0 else 0,axis=1)
imdb_df['profit_margin']
imdb_df['is_profitable']=imdb_df['profit']>0
imdb_df.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue',
       'capitalized_title', 'new_profit', 'release_year', 'profit',
       'profit_margin', 'is_profitable'],
      dtype='object')

🍿🕰️🎬 Are you ready for a movie marathon? 🤩🎥 Let's filter the IMDb dataset for movies that are at least 2 hours long ⏰ and those with a popularity of 50.0 or higher 🌟. Then, let's concatenate these two filtered DataFrames into a new DataFrame 🤝, and sort it by popularity to find the top-rated movies with a runtime of 2 hours or more 🏆🎞️. Can you print the titles and popularity of the top 10 movies in this new DataFrame? 🤔💻🔍

In [ ]:
# create a dataframe whose runtime is gater than 2 hr
high_runtime=imdb_df[imdb_df['runtime']>=120]
high_runtime
# create a dataframe whose popularity is 50.0 or more than that
high_popularity=imdb_df[imdb_df['popularity']>=50.0]
high_popularity
# cancatenate above two dataframe
high_popula_runtime=pd.concat([high_runtime,high_popularity])
# sort imdb_df dataframe by popularity in descending
sorted_movies=high_popula_runtime.sort_values(by='popularity',ascending=False)
# print first top movie's title and popularity
sorted_movies.head(10)[['title','popularity']]
# print all movies and it's popularity
sorted_movies[['title','popularity']]

                          title  popularity
518                Wonder Woman  294.337037
518                Wonder Woman  294.337037
684        Beauty and the Beast  287.253654
684        Beauty and the Beast  287.253654
1695                Baby Driver  228.032744
...                         ...         ...
2662              Kadhal Kottai    0.071908
2237                    Sankofa    0.045860
1757      Journey from the Fall    0.044561
1333  One Bright Shining Moment    0.037986
1800         The Cherry Orchard    0.001880

[720 rows x 2 columns]

### Activity 3

🎬 Imagine you're working for a movie production company that wants to analyze trends in high-budget movies 💰. Your task is to create a dataset of all movies released in the year 2013 🗓️ and another dataframe of movies with a budget greater than 20 million 💸. Then, you need to join the two dataframes using an inner join to get a list of high-budget movies that were released in 2013.

📊 Your deliverable will be a new dataframe containing all the relevant information of high-budget movies released in 2013 📈. This dataset will be used by your team to inform decisions about future movie production budgets and marketing strategies 🤑.

Good luck 🍀, and remember to use the powerful pandas library 🐼 to efficiently manipulate and analyze the data!

Note: The release_date field in the dataset is in string format and needs to be converted to datetime format. To do this we will be using datetime module in python which you will learn about going forward. For the time being, you can run the following code to create another column with release_year in it

In [ ]:
movies_13=imdb_df[imdb_df['release_year']==2013]
imdb_df['budget']
budget_20m=imdb_df[imdb_df['budget']>20000000]
budget_20m['budget']
movies_20m_2013=pd.merge(movies_13,budget_20m,how='inner',on='title')
movies_20m_2013

### Activity 4
 Your friend is a film enthusiast and has decided to explore movies in languages other than English. He wants recommendations on which movies to watch next.

Using the dataset provided, your task is to find out the language with the highest mean popularity rating and then list the top 5 movies in that language.

Can you help your fellow film enthusiast friend by completing this task and providing them with recommendations for non-English movies?

Note: idxmax(): This function is then applied to the resulting Series to get the index (in this case, the language) where the maximum mean popularity occurs.

In [ ]:
highest_mean_language = imdb_df.groupby('original_language')['popularity'].mean().idxmax()

# Filter movies in the language with the highest mean popularity rating
top_language_movies = imdb_df[imdb_df['original_language'] == highest_mean_language]
print(top_language_movies)
# Sort the top language movies by popularity and get the top 5
top_5_movies = top_language_movies.sort_values(by='popularity', ascending=False).head(5)

# Print the language with the highest mean popularity rating
print(f"Language with the highest mean popularity rating: {highest_mean_language}")

# Print the top 5 movies in that language
print("\nTop 5 Movies:")
print(top_5_movies[['title', 'popularity']])

In [ ]:
print(imdb_df[imdb_df['original_language']=='no'])